@import "tailwindcss";
@plugin "daisyui";

.btn-primary {
  color: white;
  font-weight: 600;
  background-color: #f47726;
  padding: 10px 20px;
  border: none;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  box-shadow: 0 10px 20px rgba(244, 119, 38, 0.5);
  background-color: rgba(229, 90, 4, 0.934);
  transform: translateY(-4px);
}
